/*Обнулення стилів*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
* {
    -webkit-tap-highlight-color: transparent;
}
*:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@font-face {
  font-family: 'Inter';
  src: url('asset/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype-variations');
  font-weight: 100 900; 
  font-display: swap; 
}
@font-face {
  font-family: 'Montserrat';
  src: url('asset/fonts/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: block;
}
@font-face {
  font-family: 'Bungee';
  src: url('asset/fonts/Bungee-Regular.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: block;
}
@font-face {
  font-family: 'Indie Flower';
  src: url('asset/fonts/IndieFlower-Regular.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: block;
}
@font-face {
  font-family: 'Playpen Sans';
  src: url('asset/fonts/PlaypenSans-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

body {
    overflow: auto;
   font-family: 'Montserrat', sans-serif;
   color: #101010;

   text-align: left;
}

body.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

body::-webkit-scrollbar {
    width: 0em;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
     width: 0em;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-height: 100vh;
  
}

hr {
    border: none;             
    height: 1px;              
    background-color: #0077b3;
    margin-bottom: 10px;            
    width: 100%;               
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.anim_wrapper{
    position: relative;
     width: 300px;
     height: 300px;
}
.anim_wrapper-absolute{
    position: absolute;
     width: 300px;
     height: 300px;
}

.anim{
    position: absolute;
    width: 100%;
    height: auto;
}
#webdog{
z-index: 10;
bottom: -10px;
}
#jobdog{
z-index: 0;
bottom: -8px;

}
#thanosdog{
z-index: 10;
bottom: -7px;
}



@media (max-width: 1280px) {
 


}

@media (max-width: 1024px) {

.anim_wrapper{
    position: relative;
     width: 250px;
     height: 250px;
}
.anim_wrapper-absolute{
    position: absolute;
     width: 250px;
     height: 250px;
}


#jobdog{
z-index: 0;
bottom: -34px;

}
#thanosdog{
z-index: 10;
bottom: -7px;
}

}


@media (max-width: 768px) {

.anim_wrapper{
    position: relative;
     width: 200px;
     height: 200px;
}
.anim_wrapper-absolute{
    position: absolute;
     width: 200px;
     height: 200px;
}
#jobdog{
z-index: 0;
bottom: -56px;

}
#thanosdog{
z-index: 10;
bottom: -7px;
}

}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


header{
    width: 100%;
    margin-bottom: 40px;
}

.section-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
      justify-content: center;
    align-items: center;
    overflow: hidden;

    gap: 40px;
}

footer{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    margin-top: 30px;
    background-color: #240034;
}



footer h2{
    font-family: 'Bungee';
    color: #eca8ff;
}
footer h3{
    margin-bottom:20px;
    color: #f3c9ff;
}


.section-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 20px;

}
.section-footer a{
    display: block; 
    width: 100%;
    color: #ffffff;
}

.section-footer p{
    flex: 1;
    text-align: center;
}


.block{
    width: 100%;
    padding: 0px 20px;
}
.block-width{
    width: 100%;
     padding: 0px 0px;
}

@media (max-width: 1280px) {
 

header{
    width: 100%;
    margin-bottom: 40px;
}

main{

    gap: 40px;
}

footer{
    padding-top: 30px;
    margin-top: 30px;
}


footer h3{
    margin-bottom:20px;

}

.section-footer{
    gap: 20px;

}


.block{
  
    padding: 0px 20px;
}

}

@media (max-width: 1024px) {
  
header{
    width: 100%;
    margin-bottom: 40px;
}

main{

    gap: 40px;
}

footer{
    padding-top: 30px;
    margin-top: 30px;
}


footer h3{
    margin-bottom:20px;

}

.section-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    gap: 20px;

}
.section-footer article:nth-of-type(1) {
        order: 1;
    }


    .section-footer article:nth-of-type(2) {
        order: 2;
    }


     .section-footer .anim_wrapper {
        order: 3;
        margin-top: 20px; 
    }
    
    .section-footer ul {
        list-style: none;
        padding: 0;
    }

.block{
  
    padding: 0px 20px;
}

}


@media (max-width: 768px) {
header{
    width: 100%;
    margin-bottom: 30px;
}

main{

    gap: 30px;
}

footer{
    padding-top: 20px;
    margin-top: 20px;
}


footer h3{
    margin-bottom:15px;

}

.section-footer{
    gap: 10px;

}


.block{
  
    padding: 0px 20px;
}

}

@media (max-width: 640px) {

}


@media (max-width: 480px) {

}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
h1{
    font-family: 'Indie Flower';

    font-size: 44px;
    font-weight: 900;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color:#250034;
}

h1 b{
    font-family: 'Bungee';
    font-size: 18px;

    color:#59007f;
}

h2{
    width: 100%;
    display: flex;
    align-items: center;
    
    font-size: 32px;
    font-weight: 800;

    margin-bottom: 20px; 
}


h3{
    width: 100%;
    display: flex;
    align-items: center;

    font-size: 28px;
    font-weight: 700;
}
h4{
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 15px;
}
h5{
    font-size: 22px;
    font-weight: 700;

    margin-bottom: 15px;
}
h6{
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 15px;
}


p{
     font-size: 18px;
     font-weight: 600;
     line-height: 2;
     margin-bottom: 6px;

     text-align: justify;
     text-justify: inter-word;
     /* hyphens: auto; 
  -webkit-hyphens: auto; */
}

a {    
    text-decoration: none;
    color: #0077b3;
    white-space: nowrap;
    hyphens: none;
    -webkit-hyphens: none;

    font-size: 18px;
    font-weight: 700;
}

.link-button{
    color: #0077b3;
    background-color: #ffffff;
    border: 3px solid #0077b3;
    border-radius: 30px;
    padding: 5px 10px;

    font-size: 18px;
    font-weight: 700;
}
ul{
    display: flex;
    flex-direction: column;

}

li{
    font-size: 18px;
     font-weight: 600;
     line-height: 2;
     margin-bottom: 6px;
}


span{
     font-family: 'Playpen Sans';

    font-size: 18px;
    font-weight: 700;
}

button{
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;

    color: #0077b3;
    background-color: #ffffff;
    
}






@media (max-width: 1280px) {

    h1{
    font-size: 42px;
    font-weight: 900;
}

h1 b{
    font-size: 18px;
}

h2{
    font-size: 30px;
    font-weight: 800;

    margin-bottom: 20px; 
}


h3{
    font-size: 26px;
    font-weight: 700;
}
h4{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
h5{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
h6{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}


p{
     font-size: 17px;
     font-weight: 600;
     line-height: 2;
     margin-bottom: 6px;
     /* hyphens: auto; 
  -webkit-hyphens: auto; */
}

a {    
    font-size: 17px;
    font-weight: 700;
}

.link-button{
    border: 3px solid #0077b3;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 700;
}

li{
    font-size: 17px;
     font-weight: 600;
     line-height: 2;
     margin-bottom: 6px;
}
span{
    font-size: 17px;
    font-weight: 700;
}

button{
    font-size: 19px;
    font-weight: 700;
    
}



 
}

@media (max-width: 1024px) {
 
h1{
    font-size: 38px;
    font-weight: 900;
}

h1 b{
    font-size: 17px;
}

h2{
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px; 
}


h3{
    font-size: 20px;
    font-weight: 700;
}
h4{
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 15px;
}
h5{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
h6{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 15px;
}


p{
     font-size: 16px;
     font-weight: 600;
     line-height: 2;
     margin-bottom: 6px;
     /* hyphens: auto; 
  -webkit-hyphens: auto; */
}

a {    
    font-size: 16px;
    font-weight: 700;
}

.link-button{
    border: 3px solid #0077b3;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
}

li{
    font-size: 16px;
     font-weight: 600;
     line-height: 2;
     margin-bottom: 6px;
}
span{
    font-size: 16px;
    font-weight: 700;
}

button{
    font-size: 18px;
    font-weight: 700;
    
}


}


@media (max-width: 768px) {
h1{
    font-size: 34px;
    font-weight: 700;
}

h1 b{
    font-size: 16px;
}

h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px; 
}


h3{
    font-size: 18px;
    font-weight: 700;
}
h4{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 15px;
}
h5{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}
h6{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}


p{
     font-size: 16px;
     font-weight: 600;
     line-height: 2;
     margin-bottom: 6px;
     hyphens: auto; 
  -webkit-hyphens: auto;
}

a {    
    font-size: 16px;
    font-weight: 700;
}

.link-button{
    border: 3px solid #0077b3;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
}

li{
    font-size: 16px;
     font-weight: 600;
     line-height: 2;
     margin-bottom: 6px;
}
span{
    font-size: 16px;
    font-weight: 700;
}

button{
    font-size: 18px;
    font-weight: 700;
    
}

}

@media (max-width: 640px) {

}


@media (max-width: 480px) {

}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.L_text-R_element{
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 20px;
}

.R_text-L_element{
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 20px;
}

.position-right{
   justify-content: flex-end;
   /* text-align: right; */


}
.position-left{
    justify-content: flex-start;
    /* text-align: left; */
}

.position-center{
   
   justify-content: center;
   /* text-align: center; */
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.columns{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 60px;
  margin: 0 auto;

  
}
.column{
  display: flex;
  flex-direction: column;

  position: relative;
}

.service{
    padding: 40px;
    height: 360px;

    border-radius: 60px;

    margin-bottom: 80px;
}

.service h3{
    margin-bottom: 30px;
}

#design{

color:#008516;
   box-shadow: 0 10px 20px rgba(0, 78, 12, 0.3);

}
#animation{

    color:#b38600;
     box-shadow: 0 10px 20px rgba(78, 64, 0, 0.3);

}
#development{

        color:#6a0096;
        box-shadow: 0 10px 20px rgba(31, 0, 43, 0.3);

}

.column li{
  color: black;
}

.column-info{

    font-family: 'Playpen Sans';
    position: absolute;
    bottom: 30px;
    right: 30px;

    width: 50px;
    height: 50px;

    border: 3px solid #0077b3;
    border-radius: 50%;

    transition: 0.3s;
}

.column-info:hover{
    transform: scale(1.1);
}

.column-btn{

    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 10px 30px;

    box-shadow: 0 10px 20px rgba(0, 67, 103, 0.3);

     transition: 0.3s;
}


.column-btn:hover{
    color:#ffffff;
    background-color: #0077b3;
}

.mobile-tabs {
    display: none;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-btn {
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 67, 103, 0.3);
    background: #ffffff;
    cursor: pointer;
}

.tab-btn.active {
    background: #0077b3;
    color: #ffffff;

}

@media (max-width: 1390px) {
 .columns{
  width: 95%;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;
}

.service{
    padding: 30px;
    height: 360px;
    border-radius: 60px;
    margin-bottom: 80px;
}

.service h3{
    margin-bottom: 30px;
}

.column-info{

    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border: 3px solid #0077b3;
}


.column-btn{

    bottom: -80px;
    border-radius: 20px;
    padding: 10px 30px;
}



}

@media (max-width: 1280px) {
 

     .columns{
  width: 98%;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px;
}

.service{
    padding: 30px 20px;
    height: 360px;
    border-radius: 60px;
    margin-bottom: 80px;
}

.service h3{
    margin-bottom: 30px;
}

.column-info{

    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border: 3px solid #0077b3;
}


.column-btn{

    bottom: -80px;
    border-radius: 20px;
    padding: 10px 30px;
}



}

@media (max-width: 1024px) {
  
    .L_text-R_element{

  grid-template-columns: 1fr;
  gap: 0px;
}

.R_text-L_element{

  grid-template-columns: 1fr;
  gap: 0px;
}

.position-right{
   justify-content: center;



}
.position-left{
    justify-content: center;

}

.position-center{
   
   justify-content: center;

}

.mobile-tabs {
        display: flex;
    }

    .columns {
        grid-template-columns: 1fr;
        width: 95%;
        gap: 20px;
    }

    .column {
        display: none;
    }

    .column.active {
        display: flex;
    }

.service{
    padding: 30px 15px;
    height: 330px;
    border-radius: 60px;
    margin-bottom: 80px;
}

.service h3{
    margin-bottom: 30px;
}

.column-info{

    bottom: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    border: 3px solid #0077b3;
}


.column-btn{

    bottom: -80px;
    border-radius: 20px;
    padding: 10px 30px;
}


}


@media (max-width: 768px) {


    .columns {
  
        width: 100%;
    }


.service{
    padding: 20px 20px;
    height: 330px;
    border-radius: 60px;
    margin-bottom: 70px;
}

.service h3{
    margin-bottom: 30px;
}

.column-info{

    bottom: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    border: 3px solid #0077b3;
}


.column-btn{

    bottom: -70px;
    border-radius: 20px;
    padding: 10px 30px;
}

}

@media (max-width: 640px) {

}


@media (max-width: 480px) {

}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.item {
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}
.item h3{
   font-size: 22px;
   gap: 10px;
   
}
.item-btn {
    width: 100%;
    min-height: 60px;
    background-color: #ffffff;
    border-bottom: 3px solid #0077b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.img-rotate {
    transform: rotate(0deg); 
    width:30px;
    transition: transform 0.3s ease;
  }
  
  .rotated {
    transform: rotate(180deg); 
  }

.item-info {
    max-height: 0;
    overflow: hidden;
    width: 100%;

    background-color: #f1fff2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: max-height 0.3s ease-in-out;
}
.info_wrapper{
    width: 100%;
    height: auto;
    padding: 20px 40px;

}


@media (max-width: 1280px) {



.item h3{
   font-size: 20px;
   gap: 10px;
   
}
.item-btn {
    min-height: 55px;
    border-bottom: 3px solid #0077b3;
    padding: 0px 20px;
}

.img-rotate {
    width:30px;

  }
  
    
.info_wrapper{
    padding: 20px 40px;

}
 
}

@media (max-width: 1024px) {
 


.item h3{
   font-size: 18px;
   text-align: left;
   gap: 10px;
   
}
.item-btn {
    min-height: 45px;
    border-bottom: 3px solid #0077b3;
    padding: 0px 20px;
}

.img-rotate {
    width:30px;

  }
  
    
.info_wrapper{
    padding: 20px 30px;

}
 

}


@media (max-width: 768px) {


.item h3{
   font-size: 17px;
   font-weight: 600;
   text-align: left;
   gap: 10px;
   
}
.item-btn {
    min-height: 40px;
    border-bottom: 2px solid #0077b3;
    padding: 0px 20px;
}

.img-rotate {
    width:30px;

  }
  
    
.info_wrapper{
    padding: 20px 30px;

}
}

@media (max-width: 640px) {

}


@media (max-width: 480px) {

}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
   
    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        transform: scale(0);
        width: 100%;
        height: 100%;
        z-index: 60;

        backdrop-filter: blur(8px);  
        -webkit-backdrop-filter: blur(8px); 

        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .popup {
        position: relative;

        padding: 20px; 
        background-color: #ffffff;
        border: 4px solid #00b3ff;
        border-radius: 20px;
        
        backdrop-filter: blur(8px);  
        -webkit-backdrop-filter: blur(8px); 
        box-shadow: inset 3px 0 5px rgba(0, 0, 0, 0.1);
    
        max-width: 70%;
        max-height: 80%;
        height: auto;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }



    .popup__title{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }

    .popup__wraper{
       
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .popup__wraper::-webkit-scrollbar {
        width: 0em; 
    }
    
    .popup__wraper::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    

    .closePopup {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ab0000;
        font-size: 28px;
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        border: 3px solid #ab0000;
        transition: 0.3s;
    }
    
    .closePopup:hover {
        transform: scale(1.1);
    }






/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.present {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 64vw;
    height: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
    height: auto;
   
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y; 
    user-select: none; 
}

.slides {
    display: flex;
    height: auto;
    opacity: 1;
}

.slide {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
}

.slide_wrapper {
    width: 100%;
    z-index: 20;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#slide-design {
   
    border: solid 4px #008516;
    color:#008516;
    box-shadow: 0 10px 20px rgba(0, 78, 12, 0.3);
    
}
#slide-design .slide_content {
    background-color: rgba(0, 255, 38, 0.1); 

}
#slide-anim {
    
    border: solid 4px #b38600;
    color:#b38600;
     box-shadow: 0 10px 20px rgba(78, 64, 0, 0.3);
}
#slide-anim .slide_content {
    background-color: rgba(255, 208, 0, 0.1); 

}

#slide-dev {
    
    border: solid 4px #6a0096;
    color:#6a0096;
    box-shadow: 0 10px 20px rgba(31, 0, 43, 0.3);
}
#slide-dev .slide_content {
    background-color: rgba(183, 0, 255, 0.1); 

}

.slide_content {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.slide_content article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



/* Стилі для кнопок */
.arrow-prev,
.arrow-next {
    height: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 15;
    bottom: 0;
    display: flex;
    opacity: 0.5;
    align-items: center;
  fill: #2c82ff;
    font-size: 20px;
    font-weight: 700;
}

.arrow-prev {
    left: 6px;
    justify-content: flex-start;
    width: 2%;
}

.arrow-next {
    right: 6px;
    justify-content: flex-end;
    width: 2%;
}


















































